{
  "$schema": "https://swc.rs/schema.json",
  "sourceMaps": true,
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "baseUrl": "./",
    "keepClassNames": true,
    "paths": {
      "@domain/*": ["./src/core/domain/*"],
      "@infra/*": ["./src/core/infra/*"],
      "@app/*": ["./src/core/app/*"]
    }
  },
  "minify": false
}
